<header id="nav-header">
        	<nav id="nav-bar" class="top-bar fluid-width transparent nav-center sticky-nav animation fadeInDown">

                <div id="nav-wrapper">

                    <!-- LOGO -->
            		<div class="logo-wrapper"  style="width: 120px; height: 100px; -ms-transform: rotate(-15deg); /* IE 9 */
                    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */ transform: rotate(-15deg);">
                		<!-- CSS LOGO 
                        <a href="/home">
                    		<div class="css-logo rounded">
                   				<div class="css-logo-text">
                        			<strong>M</strong><i class="de-icon-heart-1"></i><strong>J</strong>
                    			</div>
                    		</div>
                        </a>-->

                    	<!-- IMG LOGO -->
                        <a href="/home" routerLinkActive="active">
                    		<div class="img-logo">
                    			<img src="/assets/img/unfergettable.png">
                    		</div>
                        </a>
                	</div>
                	<!-- END of LOGO -->

                    <div id="mobile-nav">
                    	<i class="de-icon-menu"></i>
                    </div>

                	<ul id="nav-menu">
                		<li class="first-child">
                        	<a href="/home" routerLinkActive="active">HOME</a>
                            <ul>
                            	<li>
                                	<a href="/home#couple">THE COUPLE</a>
                                </li>
                                <li>
                                	<a href="/home#location-countdown">THE LOCATION</a>
                                </li>
                                <li>
                                	<a href="/home#the-wedding">THE WEDDING</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                        	<a href="/location" routerLinkActive="active">THE WEDDING</a>
                             <ul>
                                 <li>
                                    <a href="/location#ceremony-party" routerLinkActive="active">CEREMONY AND PARTY</a>
                                </li>
                                <li>
                                    <a href="/location#places-of-interest" routerLinkActive="active">PLACES OF INTEREST</a>
                                </li>
                                <li>
                                    <a href="/location#map-canvas" routerLinkActive="active">MAP</a>
                                </li>
                            </ul>                                
                        </li>
                        <li  class="first-child split-margin" >
                            <a href='/gallery' routerLinkActive='active'>GALLERY</a>
                        </li>

                        <li>
                            <a href="/registry" routerLinkActive="active">REGISTRY</a>
                        </li>
                	</ul>

                    <div class="clearboth"></div>

                </div>

            </nav>
        </header> <!-- END of NAVIGATION -->
