<!-- MAIN SLIDER -->
<section id="main-slider" class="fixed-height">

  <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
  <div class="slide-title-outter-wrapper">

      <!-- MAIN SLIDER TITLE INNER WRAPPER -->
      <div class="slide-title-inner-wrapper">

					<!-- TITLE 1  -->
					<div class="slide-title align-middle">

						<div class="container">
              <div class="row">
                <div class="col-md-offset-2 col-md-8">

                      <div class="page-title">

                          <div style="padding-top:145px" routerLink="/location" fragment="map-canvas">
                            <h1 class="animation bounceInLeft">AT MEMORIAL HOUSE IN MEMORY GROVE PARK</h1>

                            <a href="location#map-canvas" class="de-button outline medium animation delay1 bounceInRight smooth-scroll">
                              GET DIRECTION
                            </a>
                          </div>

                        </div>

								</div>
							</div>
						</div>

					</div>

				</div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

			</div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->

            <!-- MAIN SLIDER IMAGES -->
  			<div class="slides">
    				<!-- SLIDE IMAGE -->
                	<div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(/assets/img/memorygrovepark.jpg); background-size: contain; background-repeat: no-repeat; background-position: center bottom">
                    </div>

                    <div class="slide-overlay"> </div>
    		</div>	<!-- END of MAIN SLIDER IMAGES -->

		</section><!-- ENF of MAIN SLIDER -->



        <!--CONTENT SECTION-->
<section id="content">

        	<!-- CONTAINER -->
			<div class="container">

             	<!-- ROW-1 -->
                <div class="row" id="ceremony-party">

                	<div class="col-md-offset-1 col-md-5">

                    	<div class="white-box-content-wrapper animation fadeInLeft">
                        	<h3>CEREMONY LOCATION</h3>
                            <span>Memorial House 375 N Canyon Rd, Salt Lake City, UT 84103<br/><br/></span>
                    		<p>
                        		The ceremony will be held in the main hall of the Memorial House. Directons are provided in the <a href="/location#map-canvas">map</a> area.
							          </p>
                            <img src="/assets/img/ceremony-location.jpg" alt="" class="fullwidth">
                        </div>

                    </div>

                    <div class="col-md-5">

                    	<div class="white-box-content-wrapper animation fadeInRight">
                        	<h3>PARTY LOCATION</h3>
                            <span>Memorial House 375 N Canyon Rd, Salt Lake City, UT 84103<br/><br/></span>
                    		<p>
                        		After the ceremony, all guests will proceed into the garden area while the wedding party is having post-wedding pictures taken. There will be breakfast hors derves and drinks served while the main hall is transformed into the eating area for Brunch.
                        </p>
                            <img src="assets/img/party-area.jpg" alt="" class="fullwidth">
                        </div>

                    </div>

				</div><!--END of ROW-1-->



        <!-- ROW-2 -->
        <div class="row" id="places-of-interest">

          <div class="col-md-12 text-center animation fadeInUp" style="padding-top:70px; padding-bottom:100px">
            <h3>PLACES OF INTEREST</h3>
          </div>

				</div><!--END of ROW-2-->


        <!-- ROW-3 -->
        <div class="row">

          <div class="col-md-offset-1 col-md-10">

              <!-- INTEREST AROUND ROW-1 -->
              <div class="row animation fadeIn">

                  <div class="col-md-4 ">
                      <a href="https://www.rideuta.com/Rider-Tools/Schedules-and-Maps">
                        <div class="interest-icon">
                          <div class="de-icon circle small-size" style="background-color:#6a6a6a">
                            <i class="de-icon-taxi"></i>
                          </div>
                        </div>
                        <div class="interest-blurb">
                          <span><strong>Trax Station</strong></span>
                            <p>
                              There is a city wide Trax, RideUTA, that can be taken to basically anywhere in and around Salt Lake City. Unfortunately it does not go up to the wedding location, but it will get you very close.
                            </p>
                        </div>
                      </a>
                    </div>

                    <div class="col-md-4">
                      <a href="https://www.fillingsandemulsions.com/">
                        <div class="interest-icon">
                          <div class="de-icon circle small-size" style="background-color:#67a80e">
										        <i class="de-icon-food"></i>
            						  </div>
                        </div>
                        <div class="interest-blurb">
                          <span><strong>Fillings & Emulsions</strong></span>
                          <p>
                            I would be amiss if I did not recommend the 2012 Pasty Chef of the Year, as well as Morgan's mentor when she was an intern Pasty Chef, Chef Adalberto Diaz and his bakery Fillings & Emulsions
                          </p>

                        </div>
                      </a>
                    </div>

                    <div class="col-md-4">
                      <a href="http://www.cafeonfirst.com/">
                        <div class="interest-icon">
                         	<div class="de-icon circle small-size" style="background-color:#c89d1b">
										        <i class="de-icon-coffee"></i>
            						  </div>
                        </div>
                        <div class="interest-blurb">
                          <span><strong>Cafe on First</strong></span>
                             <p>
                                A small but local coffee shop that is on the way to the venue. Cafe on First can satisfy your caffine needs before the big day.
                              </p>
                        </div>
                      </a>
                    </div>
                  </div>

                        <!-- INTEREST AROUND ROW-2 -->
        <div class="row animation fadeIn">

          <div class="col-md-4">
            <a href="https://www.harmonsgrocery.com/locations">
              <div class="interest-icon">
                <div class="de-icon circle small-size" style="background-color:#f0394d">
                  <i class="de-icon-basket"></i>
                </div>
              </div>
              <div class="interest-blurb">
                <span><strong>Harmons Grocery</strong></span>
                <p>
                  A local grocery store that can provide food or any other quick needs. Harmons has many locations around Salt Lake City, including one right downtown, next to the City Creek Center
                </p>
              </div>
            </a>
          </div>

          <div class="col-md-4">
            <a href="http://saltlakecity.kidsoutandabout.com/content/top-20-places-take-kids-and-around-salt-lake-city-ut">
              <div class="interest-icon">
                <div class="de-icon circle small-size" style="background-color:#f6700e">
                  <i class="de-icon-paper-plane"></i>
                </div>
              </div>
              <div class="interest-blurb">
                <span><strong>Things for Kids</strong></span>
                <p>
                  Many people will be bringing children, so for those of your from Utah and not alike, here is a list of things to do around Utah with children. The top 20 places to take kids in and around Salt Lake City
                </p>
              </div>
            </a>
          </div>

          <div class="col-md-4">
            <a href="http://www.thegallivancenter.com/">
              <div class="interest-icon">
                <div class="de-icon circle small-size" style="background-color:#0d9a48">
                  <i class="de-icon-tree"></i>
                </div>
              </div>
              <div class="interest-blurb">
                <span><strong>Ice Skating Rink</strong></span>
                <p>
                  It will be winter, so what's better to do when you need to get out of a cramped room? Ice Skating! The Gallivan Center is right in the heart of Salt Lake City and has Ice Skating!
                </p>
              </div>
            </a>
          </div>
        </div>

      </div>

    </div><!--END of ROW-2-->

  </div> <!-- END of CONTAINER -->

</section> <!--END of CONTENT SECTION-->

<footer>
  <div id="map-canvas" style="height:550px; width:100%;"></div>
</footer>
