<!--MAIN SLIDER-->
<section id="main-slider" class="flexslider fullscreen">

    <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
    <div class="slide-title-outter-wrapper">

        <!-- MAIN SLIDER TITLE INNER WRAPPER -->
        <div class="slide-title-inner-wrapper">

            <!-- TITLE -->
            <div class="slide-title align-middle">

                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6 animation delay1 fadeInUp save-the-date-col">

                            <div id="save-the-date">
                                <div id="save">Save</div>
                                <div id="the-date">The Date</div>
                                <div id="date">- 12<span class="color-dot">.</span>28<span class="color-dot">.</span>18 -</div>
                            </div>
                            <div class="banner-text light medium" style="letter-spacing:3px">
                                <h4>*** WE ARE GETTING MARRIED ***</h4>
                            </div>

                            <div class="heart-divider animation fadeInUp">
                                <span class="white-line"></span>
                                <i class="de-icon-heart pink-heart"></i>
                                <i class="de-icon-heart white-heart"></i>
                                <span class="white-line"></span>
                            </div>

                            <div class="animation fadeInUp">
                                <div id="counting-down">
                                    <div id="counting">Counting</div>
                                    <div id="down">Down</div>
                                </div>
                            </div>

                            <div id="countdown" class="simple-countdown animation fadeInUp"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

    </div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->

    <slide-show></slide-show>

</section><!-- ENF of MAIN SLIDER -->
<!--CONTENT SECTION-->
<section id="content">

    <!--COUPLE SECTION-->
    <section id="couple">

        <div class="container">
            <div class="row">

                <!-- SECTION TITLE -->
                <div class="col-md-offset-1 col-md-10 text-center">

                    <div class="section-title animation fadeInUp">
                        <h1>
                            THE HAPPY COUPLE
                        </h1>

                        <p class="blurb">
                            Morgan in John met in February of 2017. After spending about 4 hours at a pizza place getting to know each other, the rest is history.
                        </p>

                        <div class="heart-divider">
                            <span class="grey-line"></span>
                            <i class="de-icon-heart pink-heart"></i>
                            <i class="de-icon-heart grey-heart"></i>
                            <span class="grey-line"></span>
                        </div>
                    </div>
                </div>

                <!-- SECTION CONTENT -->
                <div class="col-md-offset-1 col-md-5">

                    <!--PHOTO-ITEM-->
                    <div class="photo-item animation fadeInLeft">

                        <!--HIS-PHOTO-->
                        <img src="/assets/img/the-groom.jpg" alt="" class="hover-animation image-zoom-in">

                        <!--PHOTO OVERLAY-->
                        <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                        </div><!--END of PHOTO OVERLAY-->
                        <!--PHOTO CAPTION-->
                        <div class="layer wh95 border-photo-caption hover-animation fade-out">
                            <div class="alignment">
                                <div class="v-align center-bottom">

                                    <div>
                                        <div class="heart-divider" style="margin:0">
                                            <i class="de-icon-heart pink-heart"></i>
                                            <i class="de-icon-heart white-heart"></i>
                                        </div>
                                        <div class="banner-text light small" style="letter-spacing:3px;">
                                            <h4>*** THE GROOM ***</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--END of PHOTO CAPTION-->
                        <!--ICON LINK
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">

                                    <a href="profile-him.html" class="de-button outline medium">
                                        ABOUT HIM
                                    </a>

                                </div>
                            </div>
                        </div><!--END of ICON LINK-->

                    </div><!--END of PHOTO-ITEM-->

                    <p class="couple-excerpt animation fadeInLeft">
                        <strong>I'm John Ferguson. </strong>Originally from Staunton, VA. I graduated highschool in 2009 and then joined the United States Air Force. After spending 5 years fixing airplanes in Texas and 2 deployments to the middle east I was able to secure a software development job at Hill Air Force Base, UT. After doing that for a year and a half I met Morgan. Now, I am out of the Air Force, working towards my software development degree, and getting married to the girl of my dreams. I think the path may have chosen me, rathen than me choosing the path.1
                    </p>

                </div>

                <div class="col-md-5">

                    <!--PHOTO-ITEM-->
                    <div class="photo-item animation fadeInRight">

                        <!--HER-PHOTO-->
                        <img src="/assets/img/the-bride.jpg" alt="" class="hover-animation image-zoom-in">

                        <!--PHOTO OVERLAY-->
                        <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                        </div><!--END of PHOTO OVERLAY-->
                        <!--PHOTO CAPTION-->
                        <div class="layer wh95 border-photo-caption hover-animation fade-out">
                            <div class="alignment">
                                <div class="v-align center-bottom">

                                    <div>

                                        <div class="heart-divider" style="margin:0">
                                            <i class="de-icon-heart pink-heart"></i>
                                            <i class="de-icon-heart white-heart"></i>
                                        </div>
                                        <div class="banner-text light small" style="letter-spacing:3px;">
                                            <h4>*** THE BRIDE ***</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--END of PHOTO CAPTION-->
                        <!--ICON LINK
                        <div class="layer wh95 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">

                                    <a href="profile-her.html" class="de-button outline medium">
                                        ABOUT HER
                                    </a>

                                </div>
                              </div>
                        </div><!--END of ICON LINK-->

                    </div><!--END of PHOTO-ITEM-->

                    <p class="couple-excerpt animation fadeInRight">
                        <strong>I'm Morgan James. </strong>I grew up in Spring Creek, NV. I graduated from highschool there in 2011 and then went to culinary school to become a Pastry Chef. After achieving that dream I interned for Chef Al (owner of <a href="https://www.fillingsandemulsions.com/">Fillings & Emulsions Bakeries</a>) and then moved to Montana to be a Pastry Chef there. When my nephew Mason was on the way, I moved home to help my sister (and Matron of Honor) out with that. After a few years of working as Back-of-House manager for a cafe in Elko, I decided to follow my dream once again and moved to Salt Lake City to work at LUX Catering & Events. After a year of strenus labor there I finally met John!
                    </p>

                </div>
            </div>
        </div>
    </section>


    <!-- LOCATION SECTION -->
    <section id="location-countdown">
        <div class="image-divider auto-height" style="background-image:url(assets/img/memorygrovepark.jpg); background-size: contain; background-repeat: no-repeat;" data-stellar-background-ratio="0.5">

            <div class="divider-overlay"></div>

            <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax
            <div class="alignment">
                <div class="v-align center-middle"> -->

            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 text-center">

                        <div class="banner-text light medium animation fadeInUp" style="letter-spacing:3px;">
                            <h4>*** AT MEMORIAL HOUSE, MEMORY GROVE PARK, SALT LAKE CITY ***</h4>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>


    <!-- THE WEDDING SECTION -->
    <section id="the-wedding">

        <div class="container">

            <!-- ROW-1 -->
            <div class="row">

                <!-- SECTION TITLE -->
                <div class="col-md-12 text-center">

                    <div class="section-title animation fadeInUp">
                        <h2>
                            THE WEDDING
                        </h2>

                        <p class="blurb">
                            The ceremony will commence at 0930 on December 28, 2018 and will be approximately 30 minutes. It will be followed by a cocktail hour - complete with breakfast cocktails and small breakfast horderves - while the wedding party has photos taken (1000 - 1100). After photos are complete there will be a brunch served in the main hall of Memorial House (1100-1200).
                        </p>

                        <div class="heart-divider">
                            <span class="grey-line"></span>
                            <i class="de-icon-heart pink-heart"></i>
                            <i class="de-icon-heart grey-heart"></i>
                            <span class="grey-line"></span>
                        </div>
                    </div>
                </div>
            </div> <!-- END of ROW-1 -->
            <!-- ROW-2 -->
            <div class="row">

                <div class="col-md-offset-1 col-md-10">

                    <div class="container-fluid">
                        <div class="row">

                            <!-- ITEM-1 -->
                            <div class="wedding-item col-md-4 animation fadeIn">

                                <!--PHOTO-ITEM-->
                                <div class="photo-item">

                                    <!--PHOTO-->
                                    <img src="assets/img/memorial-house.jpg" alt="Memorial House Image" class="hover-animation image-zoom-in">

                                    <!--PHOTO OVERLAY-->
                                    <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                                    </div><!--END of PHOTO OVERLAY-->

                                    <div class="layer wh95 border-photo-caption fade-out">
                                    </div><!--END of PHOTO CAPTION-->
                                  <!--ICON LINK-->
                                  <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                      <div class="alignment">
                                          <div class="v-align center-middle">

                                              <a href="/location#map-canvas" routerLinkActive="active"  class="de-button outline small">
                                                  GET DIRECTION
                                              </a>

                                          </div>
                                      </div>
                                  </div><!--END of ICON LINK-->

                                </div><!--END of PHOTO-ITEM-->
                                <!-- TITLE & EXCERPT -->
                                <div class="title-excerpt">
                                  <h3>
                                    <a href="/location#map-canvas" routerLinkActive="active">LOCATION</a>
                                  </h3>
                                  <p>
                                    A quite, beautiful park just to the north east of the capital and directly north of Downtown. This is a way to obtain the feel of the canyon without actually having to drive into the canyon.
                                  </p>
                                </div>
                                <!-- END of TITLE & EXCERPT -->

                            </div><!-- END of ITEM-1 -->
                            <!-- ITEM-2 -->
                            <div class="wedding-item col-md-4 animation delay1 fadeIn">

                                <!--PHOTO-ITEM-->
                                <div class="photo-item">

                                    <!--PHOTO-->
                                    <img src="assets/img/registry-gift-img.jpg" alt="" class="hover-animation image-zoom-in">

                                    <!--PHOTO OVERLAY-->
                                    <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                                    </div><!--END of PHOTO OVERLAY-->

                                    <div class="layer wh95 border-photo-caption fade-out">

                                    </div><!--END of PHOTO CAPTION-->
                                    <!--ICON LINK-->
                                    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                        <div class="alignment">
                                            <div class="v-align center-middle">

                                                <a href="/registry" routerLinkActive="active"  class="de-button outline small">
                                                    REGISTRY
                                                </a>

                                            </div>
                                        </div>
                                    </div><!--END of ICON LINK-->

                                </div><!--END of PHOTO-ITEM-->
                                <!-- TITLE & EXCERPT -->
                                <div class="title-excerpt">
                                    <h3><a href="/registry" routerLinkActive="active" >GIFT REGISTRY</a></h3>
                                    <p>Morgan and John do not need a whole lot of household goods, but a honeymoon would be really nice! A few household items will be on the registry, but the biggest thing they are asking for is help to go to Paris.</p>
                                </div>
                                <!-- END of TITLE & EXCERPT -->

                            </div><!-- END of ITEM-2 -->
                            <!-- ITEM-3 -->
                            <div class="wedding-item col-md-4 animation delay2 fadeIn">

                                <!--PHOTO-ITEM-->
                                <div class="photo-item">

                                    <!--PHOTO-->
                                    <img src="assets/img/grand-america.jpg" alt="Hotel-Image" class="hover-animation image-zoom-in" >

                                    <!--PHOTO OVERLAY-->
                                    <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                                    </div><!--END of PHOTO OVERLAY-->

                                    <div class="layer wh95 border-photo-caption fade-out">

                                    </div><!--END of PHOTO CAPTION-->
                                    <!--ICON LINK-->
                                    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                        <div class="alignment">
                                            <div class="v-align center-middle">
                                              ACCOMODATION
                                            </div>
                                        </div>
                                    </div><!--END of ICON LINK-->

                                </div><!--END of PHOTO-ITEM-->
                                <!-- TITLE & EXCERPT -->
                                <div class="title-excerpt">
                                    <h3>ACCOMODATION</h3>
                                    <p>No rooms will be blocked out for this, but there are many, many, many hotels in the local area. The venue is just north of downtown, and there are any number of hotels between 2 and 5 stars within a 5-10 mile radius.</p>
                                </div>
                                <!-- END of TITLE & EXCERPT -->

                            </div> <!-- END of ITEM-3 -->

                        </div>


                    </div>

                </div>
            </div><!-- END of ROW-2 -->

        </div><!-- END of CONTAINER -->

    </section>


    <!-- RSVP SECTION -->
    <!--<section id="rsvp">

        <div class="container">
            <div class="row">

                 SECTION TITLE
                <div class="col-md-12 text-center ">

                    <div class="section-title animation fadeInUp">
                        <div class="heart-divider">
                            <i class="de-icon-heart pink-heart"></i>
                            <i class="de-icon-heart grey-heart"></i>
                        </div>

                        <h2>
                            ARE YOU ATTENDING?
                        </h2>

                        <p>
                            Please reserve before June 19th, 2015. Lorem ipsum dolor sit amet, consectetur adipiscing
                        </p>

                        <a href="rsvp-1.html" class="de-button medium animation fadeInUp">
                            RSVP
                        </a>
                    </div>

                </div>

            </div>
        </div>

    </section>-->




</section>
