.rsvp-wrapper, .message{
	padding:35px 20px 20px 25px;
	border:1px solid #cccccc;
	border-radius:10px;
}

.ajax-radio input[type=radio],
.ajax-checkbox input[type=checkbox] {
	display: none;
}

.ajax-radio input[type=radio]:checked + label, 
.ajax-checkbox input[type=checkbox]:checked + label { 
	background-color:#4e6b86; 
	border-color:#4e6b86; 
	color:#FFF;
}

form .rsvp-wrapper, form .message, input, button, 
input[type=radio] + label, 
input[type=checkbox] + label {
	box-shadow: 2px 5px #6a6a6a;

}
  
form button .btn-primary{
	display:inline-block;
	margin:0 auto;
	margin-top:20px;
	background-color:#FFF;
	font-family: 'Oswald', sans-serif;
	border:solid 1px #6a6a6a
}

form button .btn-primary, .outline{
	background-color:transparent;
	border:solid 1px #FFF;
	color:#FFF;
}

form button .btn-primary, .reverse{
	background-color:#4e6b86;
	border:solid 1px #4e6b86;
	color:#FFF;
}

form button .btn-primary, .small{
	padding:8px 26px;
	font-size:14px;
}

form button .btn-primary, .medium{
	padding:10px 50px;
	font-size:16px;
}

form button .btn-primary, .large{
	padding:14px 70px;
	font-size:20px;
}

form button .btn-primary:hover{
	background-color:#4e6b86;
	border-color:#4e6b86;
	color:#FFF;
	text-decoration:none;
}

form button .btn-primary, .reverse:hover{
	background-color:#FFF;
	border-color:#FFF;
	color:#6a6a6a;
	text-decoration:none;
	border:solid 1px #6a6a6a
}

form button .btn-primary:disabled, form button .btn-primary:hover:disabled{
   background-color:#CCC !important;
   border:solid 1px #CCC !important;
   color:#FFF !important;;
}