<!-- FOOTER SECTION -->
<footer>
    <div class="image-divider fixed-height" style="background-image:url(assets/img/morganjohnengagementsweb_footer.jpg); background-repeat: no-repeat;" data-stellar-background-ratio=".6">

        <div class="divider-overlay"></div>

        <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
        <div class="alignment">
            <div class="v-align center-middle">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="animation fadeInUp">
                                <div id="thank-you">
                                    <div id="thank">Thank</div>
                                    <div id="you">You</div>
                                </div>
                            </div>

                            <div class="heart-divider animation delay1 fadeInUp" style="margin: 5px;">
                                <span class="white-line"></span>
                                <i class="de-icon-heart pink-heart"></i>
                                <i class="de-icon-heart white-heart"></i>
                                <span class="white-line"></span>
                            </div>

                            <div id="footer-couple-name" class="animation delay1 fadeInUp">
                                MORGAN & JOHN
                            </div>

                            <div class="heart-divider animation delay1 fadeInUp" style="margin: 5px;">
                                <span class="white-line"></span>
                                <i class="de-icon-heart pink-heart"></i>
                                <i class="de-icon-heart white-heart"></i>
                                <span class="white-line"></span>
                            </div>

                            <div id="unfergettable-logo" class = "" style="position: relative;">
                                <img src="assets/img/unfergettable.png" alt="" class="unfergettable-logo" style="top: 0px; margin: 0px; width: 35%; -ms-transform: rotate(-10deg); /* IE 9 */ -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */ transform: rotate(-10deg);">
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</footer>
