<section id="content" style="background-color: lightgray">
    <!--COUPLE SECTION-->
    <section id="couple">

        <div class="container">
            <div class="row">

                <!-- SECTION TITLE -->
                <div class="col-md-offset-1 col-md-10 text-center">

                    <div class="section-title animation fadeInUp">
                        <h1>
                            Registries
                        </h1>

                        <p class="blurb">
                            Unfortunately, Morgan and John have not gotten their crap together enough to put a registry together at the moment, please check back frequently as they will be putting a link to one up as soon as they can determine what they need. (Most likely, a link for a honeymoon fund will be provided, along with a few small household goods, they have both lived on their own for quite a while and do not need many house things.
                        </p>

                        <div class="heart-divider">
                            <span class="grey-line"></span>
                            <i class="de-icon-heart pink-heart"></i>
                            <i class="de-icon-heart grey-heart"></i>
                            <span class="grey-line"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

