<!-- MAIN SLIDER IMAGES -->
<ul class="slides">

    <li>
        <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-101.jpg);">
        </div>

        <!-- SLIDE OVERLAY -->
        <div class="slide-overlay" style="opacity:0.2"> </div>

    </li>


    <li>
        <!-- SLIDE IMAGE -->
       <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-93.jpg);">
        </div>

        <!-- SLIDE OVERLAY -->
        <div class="slide-overlay" style="opacity:0.2"> </div>
    </li>

    <li>
        <!--       SLIDE IMAGE -->
        <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-195.jpg);">
        </div>

        <!-- SLIDE OVERLAY -->
        <div class="slide-overlay" style="opacity:0.2"> </div>
    </li>

    <li>
      <!--       SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-153.jpg);">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.2"> </div>
  </li>

    <li>
      <!--       SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-141.jpg);">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.2"> </div>
  </li>

  <li>
    <!--       SLIDE IMAGE -->
    <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-136.jpg);">
    </div>

    <!-- SLIDE OVERLAY -->
    <div class="slide-overlay" style="opacity:0.2"> </div>
</li>

<li>
  <!--       SLIDE IMAGE -->
  <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-129.jpg);">
  </div>

  <!-- SLIDE OVERLAY -->
  <div class="slide-overlay" style="opacity:0.2"> </div>
</li>

<li>
  <!--       SLIDE IMAGE -->
  <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-126.jpg);">
  </div>

  <!-- SLIDE OVERLAY -->
  <div class="slide-overlay" style="opacity:0.2"> </div>
</li>

<li>
  <!--       SLIDE IMAGE -->
  <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-119.jpg);">
  </div>

  <!-- SLIDE OVERLAY -->
  <div class="slide-overlay" style="opacity:0.2"> </div>
</li>

<li>
  <!--       SLIDE IMAGE -->
  <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-111.jpg);">
  </div>

  <!-- SLIDE OVERLAY -->
  <div class="slide-overlay" style="opacity:0.2"> </div>
</li>

<li>
  <!--       SLIDE IMAGE -->
  <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-106.jpg);">
  </div>

  <!-- SLIDE OVERLAY -->
  <div class="slide-overlay" style="opacity:0.2"> </div>
</li>

<li>
  <!--       SLIDE IMAGE -->
  <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-99.jpg);">
  </div>

  <!-- SLIDE OVERLAY -->
  <div class="slide-overlay" style="opacity:0.2"> </div>
</li>

<li>
  <!--       SLIDE IMAGE -->
  <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-95.jpg);">
  </div>

  <!-- SLIDE OVERLAY -->
  <div class="slide-overlay" style="opacity:0.2"> </div>
</li>

<li>
  <!--       SLIDE IMAGE -->
  <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-80.jpg);">
  </div>

  <!-- SLIDE OVERLAY -->
  <div class="slide-overlay" style="opacity:0.2"> </div>
</li>

<li>
  <!--       SLIDE IMAGE -->
  <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-62.jpg);">
  </div>

  <!-- SLIDE OVERLAY -->
  <div class="slide-overlay" style="opacity:0.2"> </div>
</li>

<li>
  <!--       SLIDE IMAGE -->
  <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-49.jpg);">
  </div>

  <!-- SLIDE OVERLAY -->
  <div class="slide-overlay" style="opacity:0.2"> </div>
</li>

<li>
  <!--       SLIDE IMAGE -->
  <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-37.jpg);">
  </div>

  <!-- SLIDE OVERLAY -->
  <div class="slide-overlay" style="opacity:0.2"> </div>
</li>

<li>
  <!--       SLIDE IMAGE -->
  <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/img/morganjohnengagementsweb-10-2.jpg);">
  </div>

  <!-- SLIDE OVERLAY -->
  <div class="slide-overlay" style="opacity:0.2"> </div>
</li>

</ul><!-- END of MAIN SLIDER IMAGES -->
